.container{    width: 100%;
    height: auto;
    background-color: rgb(255, 31, 35);

}
header{
    width: 100%;
    height: auto;
    background-color: orange;
    
}
header div{
display: inline-block
}
header div ul li{
display: inline-block;
text-align: right;
}
.banner div{
    display: inline-block;
}
.menu div{
    display: inline-block;
}