body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7faff;
    color: #222;
}

header {
    background-color: #1e90ff;
    color: yellow;
    padding: 20px 0;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    }
.header-kiri{
    display: block;
    width: 50%;
    background-color: #c51414;
    color: rgb(123, 26, 132); 
}
.header-kanan{
    display: block;
    width: 50%;
    background-color: #1dc514;
    color: rgb(209, 255, 41); 
}
.profil_singkat {
    display: block;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 12px;
    width: 80%;
    margin: 30px auto;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.navigasi li{
  display: inline;
  align-content: center;
  gap: 5%;
}